@import "tailwindcss";

@theme inline {
    --color-pinkish: #EAD1C3;
    --color-base: #F6ECD8;
    --color-deepgreen: #0D261B;
    --color-forestgreen: #1C3100;
    --color-softgreen: #49522E;
    --color-sagegreen: #ADA47D;

    --font-abhaya: var(--font-abhaya);
    --font-nunito: var(--font-nunito);
    --font-dancing: var(--font-dancing);
    --font-roboto: var(--font-roboto);
}

html, body {
    overflow-x: hidden;
}